.header {
  height: 200px;
  display: flex;
  background-color: #5095ff;
  font-size: 30px;
  color: white;
  text-align: center;
}

.menuItem {
  flex: 1;
  align-self: center;
}

.menuList {
  background-color: #fff;
  font-size: 28px;
}

.menuTitle {
  line-height: 80px;
  padding: 0 20px;
}

.menuGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding:0 10px;
}

.menuGroupItem {
  border:1px solid #eee;
  padding:40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}